option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: meatshop.wsgi:application

packages:
  yum:
    mariadb-devel: []
    mysql-devel: []
    gcc: []
    python3-devel: []
    libjpeg-turbo-devel: []

commands:
  01_set_mysql_env_vars:
    command: |
      echo 'export MYSQLCLIENT_CFLAGS="-I/usr/include/mysql"' >> /etc/profile
      echo 'export MYSQLCLIENT_LDFLAGS="-L/usr/lib64/mysql -lmysqlclient"' >> /etc/profile
      source /etc/profile
  02_enable_repo:
    command: "amazon-linux-extras enable mariadb10.5"

